@font-face {
	font-family: 'KanitCyrillic'; 
	src: local('KanitCyrillic'),
		url(/fonts/KanitCyrillic.otf); 
}

@font-face {
	font-family: 'Roboto'; 
	src: local('Roboto-Regular'),
		url(/fonts/Roboto/Roboto-Regular.ttf);
    font-weight: normal;
}

@font-face {
	font-family: 'Roboto-ThinItalic'; 
	src: local('Roboto-ThinItalic'),
		url(/fonts/Roboto/Roboto-ThinItalic.ttf);
}

@font-face {
	font-family: 'Roboto-Black'; 
	src: local('Roboto-Black'),
		url(/fonts/Roboto/Roboto-Black.ttf);
}

@font-face {
	font-family: 'Roboto'; 
	src: local('Roboto-Bold'),
		url(/fonts/Roboto/Roboto-Bold.ttf);
    font-weight: bold;
}

@font-face {
	font-family: 'Roboto-BlackItalic'; 
	src: local('Roboto-BlackItalic'),
		url(/fonts/Roboto/Roboto-BlackItalic.ttf);
}

@font-face {
	font-family: 'Roboto-Light'; 
	src: local('Roboto-Light'),
		url(/fonts/Roboto/Roboto-Light.ttf);
}

@font-face {
	font-family: 'Roboto-BoldItalic'; 
	src: local('Roboto-BoldItalic'),
		url(/fonts/Roboto/Roboto-BoldItalic.ttf);
}

@font-face {
	font-family: 'Roboto-Thin'; 
	src: local('Roboto-Thin'),
		url(/fonts/Roboto/Roboto-Thin.ttf);
}

@font-face {
	font-family: 'Roboto-MediumItalic'; 
	src: local('Roboto-MediumItalic'),
		url(/fonts/Roboto/Roboto-MediumItalic.ttf);
}

@font-face {
	font-family: 'Roboto-Italic'; 
	src: local('Roboto-Italic'),
		url(/fonts/Roboto/Roboto-Italic.ttf);
}

@font-face {
	font-family: 'Roboto-Medium';
	src: local('Roboto-Medium'),
		url(/fonts/Roboto/Roboto-Medium.ttf);
}

@font-face {
	font-family: 'Roboto-LightItalic';
	src: local('Roboto-LightItalic'),
		url(/fonts/Roboto/Roboto-LightItalic.ttf);
}

:root {
    --button-color: #ff8400;
    --bg-blue: #306fff;
    --doc-color: #777676;
    --footer-back: #efefef;
    --footer-color: #c9c9c9;
    --footer-gor: #cbcbcb;
    --menu-back: #f8f8f8;
}

* {
    margin: 0px;
    padding: 0px;
}

.main {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    background-color: var(--footer-back);
}


.header {
    height: 100vh;
    padding: 0 10%;
    color: white;
    background-image: url(/img/ish.webp);
    background-size: cover;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.head {
    margin: 15% 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.headercontent {
    margin: 15% 0;
}

.headercontent > * {
    padding: 5% 0;
    margin: 5% 0;
}

.companyname {
    font-size: 1.5em;
    font-family: KanitCyrillic;
}

.buttonhamburger, .buttonhamburgerclose, .buttonlandlordclose {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    display: flex;
    align-items: center;
    -webkit-box-shadow: none; 
    -moz-box-shadow: none;
    background-color: rgba(0,0,0,0)
} 

.hamburger {
    filter: invert(99%) sepia(100%) saturate(2%) hue-rotate(302deg) brightness(103%) contrast(101%);
}

.hamburger:hover {
    filter: invert(79%) sepia(48%) saturate(5600%) hue-rotate(1deg) brightness(105%) contrast(103%);
}

.helpyou {
    font-size: 3em;
    font-family: KanitCyrillic;
}

.fastandsafely {
    font-size: 2em;
    font-family: KanitCyrillic;
}

.submityourapplication, .submitlandlordcontent {
    border: 0;
    cursor: pointer;
    color: white;
    background-color: var(--button-color);
    box-shadow: 0 0.5em 0.1em rgba(255, 132, 0, 0.4);
    display: inline-block;
    padding: 1.5rem 2.5rem;
    border-radius: 10rem;
    font-size: 0.75em;
    font-family: Roboto;
}

.submityourapplication:hover {
    box-shadow: none;
}

.useragreement {
    font-size: 0.7em;
    font-family: Roboto;
    color: white;
}

a.useragreement {
    font-size: 1em;
}

.headercheckbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.headercheckbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
  }

  .headercheckbox+label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    background-color: white;
}

.headercheckbox:checked+label::before {
    background-color: white;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

article.menu {
    height: 100vh;
    padding: 0 10%;
    color: black;
    background-color: var(--menu-back);
    background-size: cover;
    text-align: center;
    display: none;
    flex-direction: column;
    justify-content: start;
}

div.menuhead {
    margin: 15% 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div.menucontent {
    margin: 45% 15%;
}

div.menucontent > * {
    padding: 5% 0;
}

p.menucontent {
    font-family: Roboto;
    font-size: 1.5em;
}

.headmenu {
    font-family: KanitCyrillic;
    font-size: 2em;
    text-align: center;
}

article.landlordregistration {
    height: 100vh;
    padding: 0 10%;
    color: black;
    background-color: var(--menu-back);
    background-size: cover;
    text-align: center;
    display: none;
    flex-direction: column;
    justify-content: stretch;
}

div.landlordcontent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

form.landlordcontent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

form.landlordcontent > * {
    margin: 5%;
}

p.landlordcontent {
    font-family: KanitCyrillic;
    font-size: 2em;
    text-align: center;
}

input.landlordcontent {
    font-family: Roboto;
    color: var(--doc-color);
    background-color: #e8e8e8;
    border-style: solid;
    display: inline-block;
    padding: 0.5rem 1.25rem;
    border-radius: 10rem;
}

article.works {
    margin: 5% 0;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    text-align: center;
}

div.work {
    background-color: white;
    margin: 1% 5%;
    padding: 5%;
    border: 0;
    border-radius: 1rem;
}

h1.workshead {
    margin-bottom: 5%;
}

p.workcircle {
    display: inline-block;
    width: 2.5em;
    height: 2.5em;
    line-height: 2.5em;
    text-align: center;
    border-radius: 50%;
    border: 0;
    background-color: var(--bg-blue);
    color: white;
    font-family: KanitCyrillic;
    margin-bottom: 5%;
}

p.work, a.work {
    font-family: Roboto;
    padding-bottom: 2%;
}

article.nearby {
    min-height: 80vh;
    margin: 5% 0%;
    padding: 2% 5%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

article.nearby > * {
    margin: 5% 0%;
    padding: 2% 5%;
}

div.nearby-1 > *, div.nearby-2 > *, div.nearby-3 > *, div.nearby-4 > *, div.nearby-5 > * {
    padding: 5% 0%;
}

div.nearby-1 {
    display: block;
}

div.nearby-2 {
    display: none;
}

div.nearby-3 {
    display: none;
}

div.nearby-4 {
    display: none;
}

div.nearby-5 {
    display: none;
}

div.nearbyimg {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

img.nearby {
    width: 45%;
}

img.nearbyhand {
    width: 11%;
    height: 11%;
    margin: auto 0;
}

div.nearby {
    display: grid;
    grid-template-rows: auto;
}

div.nearbyrow {
    display: grid;
    grid-template-columns: 20vw 3vw 1fr;
    margin: 1% 0;
}

h2.nearby, p.nearby, a.nearby{
    font-family: Roboto;
}

article.cost {
    margin: 5% 0;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

div.cost {
    background-color: white;
    margin: 5%;
    padding: 5%;
    border: 0;
    border-radius: 1rem;
}

h2.cost, p.cost {
    font-family: Roboto;
}

i.cost {
    background-color: #c5d7ff;
    border: 0;
    border-radius: 1rem;
}

article.compare {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    padding: 5% 0;
}

article.compare > * {
    margin: 2% 5%;
}

div.compare {
    display: grid;
    grid-template-rows: auto;
}

div.comparerow {
    display: grid;
    grid-template-columns: 50vw 1fr;
}

p.compare {
    color: var(--doc-color);
}

article.reliable {
    padding: 5%;
    background-color: var(--bg-blue);
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    color: white;
    text-align: center;
    border: 0;
    border-radius: 2rem;
}

article.reliable > * {
    margin: 2% 5%;
}

div.reliable {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    padding: 1%;
    border: 0;
    border-radius: 10rem;
}

p.reliable {
    font-family: Roboto;
}

p.reliablephone {
    color: gray;
    margin: 3%;
}

button.reliable {
    border: 0;
    color: white;
    background-color: var(--button-color);
    display: inline-block;
    padding: .75rem 1.25rem;
    border-radius: 10rem;
    font-size: 0.75em;
    font-weight: bold;
    font-family: Roboto;
}

article.questions {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    padding: 5%;
}

article.questions > * {
    margin: 2% 5%;
}

div.questions {
    display: grid;
    grid-template-rows: auto;
}

div.questionsrow {
    display: grid;
    grid-template-columns: 70vw 1fr;
}

p.questions {
    font-family: Roboto;
}

button.questions {
    margin: 0 0 0 1em;
    display: inline-block;
    width: 2em;
    height: 2em;
    line-height: 1em;
    text-align: center;
    border-radius: 50%;
    border: 0;
    background-color: #d5d5d5;
    color: black;
}

div.q-1 {
    display: none;
}

article.start {
    padding: 5%;
    background-color: var(--bg-blue);
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    color: white;
    text-align: center;
    border: 0;
    border-radius: 2rem;
}

article.start > * {
    margin: 2% 5%;
}

div.start {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    padding: 1%;
    border: 0;
    border-radius: 10rem;
}

p.start {
    font-family: Roboto;
}

p.startphone {
    font-family: Roboto;
    color: gray;
    margin: 3%;
}

button.start {
    border: 0;
    color: white;
    background-color: var(--button-color);
    display: inline-block;
    padding: .75rem 1.25rem;
    border-radius: 10rem;
    font-size: 0.75em;
    font-weight: bold;
    font-family: Roboto;
}

article.documents {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    padding: 5%;
}

article.documents > * {
    margin: 2% 5%;
}

div.documents {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

h1.documents a.documents{
    font-family: Roboto;
}

a.documents {
    color: var(--doc-color);
    text-decoration: none;
}

article.footer {
    background-color: var(--footer-back);
    padding: 5%;
}

h1.footer {
    color: var(--footer-color);
    text-align: right;
    font-size: 1.5em;
}