.margin-bottom_05rem {
    margin-bottom: .5rem !important;
}

.gap_2-rem {
    gap: 2rem !important;
}

.text-align_left {
    text-align: left !important;
}

.font-weight_700 {
    font-weight: 700 !important;
}