ul {
    padding-left: 1em;
    font-family: Roboto;
}

article.landlordregistration,
article.landlordregistrationsuccess,
article.expectacall,
article.startacall,
article.checktenants,
article.aboutcontract,
article.aboutinsurance,
article.aboutverification {
    min-height: 100vh;
    padding: 0 7%;
    color: var(--article-header);
    background-color: var(--menu-back);
    background-size: cover;
    text-align: center;
    display: none;
    flex-direction: column;
    justify-content: stretch;
}

div.landlordcontent,
div.landlordregistrationsuccess,
div.expectacall,
div.startacall,
div.checktenants,
div.aboutcontract,
div.aboutinsurance,
div.aboutverification {
    flex: 1;
    gap: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div.landlordregistrationsuccess,
div.expectacall,
div.startacall {
    align-items: center;
}

form.landlordcontent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

form.landlordcontent > * {
    margin: 5%;
}

p.landlordcontent {
    font-family: KanitCyrillic;
    font-size: 2em;
    text-align: center;
}

input.landlordcontent {
    font-family: Roboto;
    color: var(--doc-color);
    background-color: #e8e8e8;
    border-style: solid;
    display: inline-block;
    padding: 0.5rem 1.25rem;
    border-radius: 10rem;
}

img.landlordregistrationsuccess,
img.expectacall,
img.startacall {
    width: 50%;
}

p.landlordregistrationsuccess,
p.expectacall,
p.startacall,
h3.checktenants,
h3.aboutcontract,
h3.aboutinsurance,
h3.aboutverification {
    font-family: Roboto;
    font-size: 1.5em;
}

p.landlordregistrationsuccess,
p.expectacall,
p.startacall {
    color: var(--success-color);
}

div.checktenantscontent,
div.aboutcontractcontent,
div.aboutinsurancecontent,
div.aboutverificationcontent {
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

p.checktenants,
li.checktenants,
p.aboutcontract,
li.aboutcontract,
p.aboutinsurance,
li.aboutinsurance,
p.aboutverification,
li.aboutverification {
    font-family: Roboto;
}

li.checktenants,
li.aboutcontract {
    list-style-type: none;
}

li.aboutinsurance {
    list-style-position: inside;
}

li.checktenants:before,
li.aboutcontract:before {
    content: "- "; /* Добавляем в качестве маркера символ */
    font-weight: 900;
}

button.checktenants,
button.aboutcontract,
button.aboutinsurance,
button.aboutverification {
    font-family: Roboto;
    color: var(--bg-blue);
    border: 0;
    font-size: 1em;
    font-weight: 900;
    background-color: transparent; 
}

.buttonhamburger,
.buttonhamburgerclose,
.buttonlandlordclose,
.buttonlandlordsuccessclose,
.buttonexpectacallclose,
.buttonstartacallclose,
button.checktenantsclose,
button.aboutcontractclose,
button.aboutinsuranceclose,
button.aboutverificationclose {
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    background-color: rgba(0,0,0,0);
    display: flex;
}