:root {
    --button-color: #ff8400;
    --bg-blue: #306fff;
    --doc-color: #777676;
    --footer-back: #efefef;
    --footer-color: #c9c9c9;
    --footer-gor: #cbcbcb;
    --menu-back: #f8f8f8;
    --success-color: #60ad6c;
    --white: white;
    --disabled-btn-back: #dcdcdc;
    --disabled-btn-color: #b4b4b4;
    --article-header: #1e2023;
}

* {
    margin: 0px;
    padding: 0px;
}

.main {
    color: var(--article-header);
    margin-left: auto;
    margin-right: auto;
    max-width: 1080px;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

a {
    font-family: Roboto;
    text-decoration: none;
    color: var(--bg-blue);
}

.header {
    min-height: 100vh;
    padding: 0 7%;
    color: var(--white);
    background-image: url(/static/img/ish.webp);
    background-size: cover;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    gap: 1em;
}

.head {
    margin: 3rem 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.headercontent {
    margin: auto 0 1em;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.companyname {
    font-size: 1.5rem;
    font-family: KanitCyrillic;
}

.hamburger {
    filter: invert(99%) sepia(100%) saturate(2%) hue-rotate(302deg) brightness(103%) contrast(101%);
}

.hamburger:hover {
    filter: invert(79%) sepia(48%) saturate(5600%) hue-rotate(1deg) brightness(105%) contrast(103%);
}

.helpyou {
    font-size: 3rem;
    font-family: KanitCyrillic;
    font-weight: bold;
}

.fastandsafely {
    font-size: 1.75rem;
    font-family: KanitCyrillic;
}

.submityourapplication,
.submitlandlordcontent {
    border: 0;
    cursor: pointer;
    color: var(--white);
    background-color: var(--button-color);
    box-shadow: 0 0.75em 1em rgba(255, 132, 0, 0.4);
    display: inline-block;
    padding: 1.5rem 2.5rem;
    border-radius: 10rem;
    font-size: 1rem;
    font-family: Roboto;
}

.submityourapplication {
    width: 100%;
}

.submityourapplication:hover {
    box-shadow: none;
}

.submitlandlordcontent:disabled {
    box-shadow: none;
    background-color: var(--disabled-btn-back);
    color: var(--disabled-btn-color);
}

.useragreement {
    font-size: 0.7rem;
    font-family: Roboto;
    color: var(--white);
}

a.useragreement {
    font-size: 1rem;
}

.headercheckbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.headercheckbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
  }

  .headercheckbox+label::before {
    content: '';
    display: inline-block;
    width: 1rem;
    height: 1rem;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 0.25rem;
    margin-right: 0.5rem;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    background-color: var(--white);
}

.headercheckbox:checked+label::before {
    background-color: var(--white);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath filter='invert(72%) sepia(79%) saturate(5172%) hue-rotate(202deg) brightness(102%) contrast(91%)' fill='' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

article.menu {
    min-height: 100vh;
    padding: 0 7%;
    color: black;
    background-color: var(--menu-back);
    background-size: cover;
    text-align: center;
    display: none;
    flex-direction: column;
    justify-content: start;
}

div.menuhead {
    margin: 3rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

div.menucontent {
    margin: auto;
    display: flex;
    flex-direction: column;
}

div.menucontent > * {
    padding: 5% 0;
}

a.menucontent {
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
}

.headmenu {
    font-family: KanitCyrillic;
    font-size: 2rem;
    text-align: center;
    color: var(--article-header);
}

article.works {
    background-color: var(--footer-back);
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    text-align: center;
    padding: 4rem 7%;
    gap: 0.5rem;
}

h1.workshead,
h1.cost {
    margin-bottom: 0.5rem;
}

div.work {
    background-color: var(--white);
    padding: 5%;
    border: 0;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h6.work,
p.work,
a.work {
    font-family: Roboto;
    padding-bottom: 2%;
}

h6.work {
    font-size: 1.5rem;
}

article.nearby {
    min-height: 80vh;
    padding: 4rem 7%;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    gap: 3rem;
}

div.nearby-1 > *,
div.nearby-2 > *,
div.nearby-3 > *,
div.nearby-4 > *,
div.nearby-5 > * {
    padding: .75rem 0%;
}

div.nearby-1,
div.nearby-2,
div.nearby-3,
div.nearby-4,
div.nearby-5 {
    display: block;
}

div.nearbyimg {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

img.nearby {
    width: 45%;
}

img.nearbyhand {
    width: 11%;
    height: 11%;
    margin: auto 0;
}

div.nearby {
    display: grid;
    grid-template-rows: auto;
}

div.nearbyrow {
    display: grid;
    grid-template-columns: 25vw 3vw 1fr;
    margin: 1% 0;
}

h2.nearby,
p.nearby,
a.nearby{
    font-family: Roboto;
}

article.cost {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    padding: 4rem 7%;
    background-color: var(--footer-back);
    gap: 1rem;
}

div.cost {
    background-color: var(--white);
    padding: 5%;
    border: 0;
    border-radius: 1rem;
}

h2.cost, p.cost {
    font-family: Roboto;
}

i.cost {
    background-color: #c5d7ff;
    border: 0;
    border-radius: 1rem;
}

div.costcheckmark {
    display: grid;
    grid-template-columns: 1.5rem 1fr;
    align-items: end;
}

i.costcheckmark {
    background-color: var(--bg-blue);
    color: var(--white);
    border: 0;
    width: 1.25rem;
    height: 1.25rem;
    line-height: 1.25rem;
    text-align: center;
    border-radius: 50%;
}

img.costcheckmark {
    width: 1rem;
    height: 1rem;
}

div.costimg {
    display: flex;
    justify-content: flex-end;
}

img.cost {
    width: 31%;
}

article.compare {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    padding: 4rem 0;
    gap: 1rem;
}

div.compare {
    display: grid;
    grid-template-rows: auto;
    gap: 2rem;
}

div.comparerow {
    display: grid;
    grid-template-columns: 50% 1fr;
    padding: 0 7%;
}

div.comparerowus {
    display: grid;
    grid-template-columns: 50% 1fr;
}

div.hrcomparerow,
div.hrquestionsrow {
    display: block;
    margin: 0% 7%;
    height: 1px; /* высота / толщина линии */
    background: #d1d1d1; /* фон / цвет линии */
    border: 0; /* рамка вокруг разделительной линии (уберем ее) */
}

p.comparehead {
    color: var(--doc-color);
    grid-column: span 2;
}

p.compare,
p.comparehead,
i.compare {
    font-family: Roboto;
    font-size: .875rem;
}

p.compare,
i.compare {
    color: #1e2023;
}

div.ourselves{
    background-color: var(--footer-back);
    border: 0;
    border-radius: 2rem;
    padding: 1rem 1.25rem;
    align-self: center;
}

p.ourselves {
    font-family: KanitCyrillic;
    font-size: 1.25rem;
    color: black;
}

div.withus {
    display: flex;
    flex-direction: row;
    background-color: var(--bg-blue);
    border: 0;
    border-radius: 2rem;
    padding: 1rem 1.25rem;
    align-self: center;
    gap: .5rem;
}

i.withus {
    font-family: KanitCyrillic;
    font-size: 1.25rem;
    color: var(--white);
    font-weight: 900;
}

i.SmartArenda {
    font-family: KanitCyrillic;
    font-size: .5rem;
    color: var(--white);
    background-color: #6090ff;
    border: 0;
    border-radius: 1rem;
    text-align: center;
    align-self: center;
    padding: .5rem;
}

article.reliable {
    padding: 4rem 7%;
    background-color: var(--bg-blue);
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    color: var(--white);
    text-align: center;
    border: 0;
    border-radius: 2rem;
    gap: 1.5rem;
}

div.reliable,
div.start {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    background-color: var(--white);
    padding: 1%;
    border: 0;
    border-radius: 10rem;
}

h1.reliable,
h1.start {
    color: var(--white);
    font-size: 2.5rem;
}

p.reliable,
p.start {
    font-family: Roboto;
    font-size: 1.25rem;
}

input.reliablephone,
input.startphone {
    margin: 3%;
    font-family: Roboto;
    border: 0;
    width: auto;
    text-align: center;
}

input:focus {
    outline: none !important;
}

::placeholder { /* Most modern browsers support this now. */
    color: #bababa;
 }

button.reliable,
button.start {
    border: 0;
    color: var(--white);
    background-color: var(--button-color);
    display: inline-block;
    padding: .75rem 1.25rem;
    border-radius: 10rem;
    font-size: 0.75rem;
    font-weight: bold;
    font-family: Roboto;
}

article.questions {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    padding: 4rem 0;
    gap: 1rem;
}

h1.questions {
    padding: 0 7%;
}

div.questions {
    display: grid;
    grid-template-rows: auto;
    gap: 1rem;
}

div.questionsrow,
div.q-1,
div.q-2,
div.q-3,
div.q-4,
div.q-5,
div.q-6,
div.q-7 {
    padding: 5% 7%;
}

div.q-1,
div.q-2,
div.q-3,
div.q-4,
div.q-5,
div.q-6,
div.q-7 {
    display: none;
}

div.questionsrow {
    display: grid;
    grid-template-columns: 1fr 10%;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
}

p.questions {
    font-family: Roboto;
}

button.questions {
    display: flex;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 0;
    background-color: #d5d5d5;
    color: black;
    font-weight: bold;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div.q-1,
div.q-2,
div.q-3,
div.q-4,
div.q-5,
div.q-6,
div.q-7 {
    display: none;
    color: var(--doc-color);
    font-family: Roboto;
}

article.start {
    padding: 4rem 7%;
    background-color: var(--bg-blue);
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    color: var(--white);
    text-align: center;
    border: 0;
    border-radius: 2rem;
    gap: 1.5rem;
}

article.documents {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    padding: 4rem 7%;
    gap: 2rem;
}

div.documents {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    gap: 1rem;
}

h1.documents,
a.documents{
    font-family: Roboto;
}

h1.documents {
    font-size: 1.5rem;
}
a.documents {
    color: var(--doc-color);
    text-decoration: none;
    font-size: .875rem;
}

article.footer {
    background-color: var(--footer-back);
    padding: 2rem 7%;
}

h1.footer {
    display: flex;
    align-items: center;
    color: var(--footer-color);
    text-align: right;
    font-size: 1.1rem;
    font-style: italic;
}

h1.footer::before {
  content: "";
  flex: 1;
  border-bottom: 1px solid var(--footer-color); /* Эффектно рисуем линию */
  margin: 0 10px; /* Задаём отступ для отделения текста */
}
