<article class="aboutinsurance">
    <div class="menuhead">
      <i class="companyname"></i>
      <button
        class="aboutinsuranceclose"
        name="article.aboutinsurance"
        anchor_hash="nearby"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          x="0px"
          y="0px"
          width="30"
          height="30"
          viewBox="0 0 30 30"
        >
          <path
            d="M 7 4 C 6.744125 4 6.4879687 4.0974687 6.2929688 4.2929688 L 4.2929688 6.2929688 C 3.9019687 6.6839688 3.9019687 7.3170313 4.2929688 7.7070312 L 11.585938 15 L 4.2929688 22.292969 C 3.9019687 22.683969 3.9019687 23.317031 4.2929688 23.707031 L 6.2929688 25.707031 C 6.6839688 26.098031 7.3170313 26.098031 7.7070312 25.707031 L 15 18.414062 L 22.292969 25.707031 C 22.682969 26.098031 23.317031 26.098031 23.707031 25.707031 L 25.707031 23.707031 C 26.098031 23.316031 26.098031 22.682969 25.707031 22.292969 L 18.414062 15 L 25.707031 7.7070312 C 26.098031 7.3170312 26.098031 6.6829688 25.707031 6.2929688 L 23.707031 4.2929688 C 23.316031 3.9019687 22.682969 3.9019687 22.292969 4.2929688 L 15 11.585938 L 7.7070312 4.2929688 C 7.5115312 4.0974687 7.255875 4 7 4 z"
          ></path>
        </svg>
      </button>
    </div>
    <div class="aboutinsurance">
      <h3 class="aboutinsurance">О страховке</h3>
      <div class="aboutinsurancecontent">
        <h4 class="aboutinsurance">От чего застрахована квартира?</h4>
        <ul>
          <li class="aboutinsurance">Залив;</li>
          <li class="aboutinsurance">пожар, взрыв;</li>
          <li class="aboutinsurance">
            противоправные действия третьих лиц;
          </li>
          <li class="aboutinsurance">стихийные бедствия;</li>
          <li class="aboutinsurance">
            падение летательных аппаратов и их частей;
          </li>
          <li class="aboutinsurance">механическое воздействие **;</li>
          <li class="aboutinsurance">
            причинение вреда жизни, здоровью и/или имуществу третьих лиц;
          </li>
          <li class="aboutinsurance">чрезвычайная ситуация ***;</li>
          <li class="aboutinsurance">удар молнии;</li>
          <li class="aboutinsurance">падение посторонних предметов.</li>
        </ul>
        <h4 class="aboutinsurance">
          Подлежит страхованию на 300 000 рублей:
        </h4>
        <ul>
          <li class="aboutinsurance">
            Внутренняя отделка и инженерное оборудование:
            <ul>
              <li class="aboutinsurance2">
                слой отделочных материалов, нанесенных или прикрепленных к
                поверхности пола, потолка и стен;
              </li>
              <li class="aboutinsurance2">
                сантехническое и инженерное оборудование;
              </li>
              <li class="aboutinsurance2">
                дверные и оконные блоки (включая остекление);
              </li>
              <li class="aboutinsurance2">
                полы (исключая межэтажные перекрытия);
              </li>
              <li class="aboutinsurance2">
                легкие внутренние перегородки (из гипсокартона, ДСП, ДВП и
                т.п.);
              </li>
              <li class="aboutinsurance2">
                электропроводка, электрические счетчики, электроустановочные
                и иные аналогичные изделия.
              </li>
            </ul>
          </li>
          <li class="aboutinsurance">
            Внешняя отделка:
            <ul>
              <li class="aboutinsurance2">
                выполненные из различных материалов декоративные элементы,
                закреплённые на внешней поверхности наружных стен (за
                исключением самих стен) и связанные с ними;
              </li>
              <li class="aboutinsurance2">
                нанесённый или прикреплённый к поверхности наружных стен с
                внешней стороны слой отделочных материалов.
              </li>
            </ul>
          </li>
        </ul>
        <h4 class="aboutinsurance">
          Подлежит страхованию на 300 000 рублей:
        </h4>
        <ul>
          <li class="aboutinsurance">
            Конструктивные элементы квартир:
            <ul>
              <li class="aboutinsurance2">несущие и ненесущие стены;</li>
              <li class="aboutinsurance2">перекрытия;</li>
              <li class="aboutinsurance2">перегородки.</li>
            </ul>
          </li>
        </ul>
        <h4 class="aboutinsurance">
          Подлежит страхованию на 100 000 рублей:
        </h4>
        <ul class="aboutinsurance">
          Движимое имущество:
          <li class="aboutinsurance">теле- и аудиоаппаратура;</li>
          <li class="aboutinsurance">мебель (встроенная, корпусная);</li>
          <li class="aboutinsurance">бытовая техника;</li>
          <li class="aboutinsurance">вычислительная техника;</li>
          <li class="aboutinsurance">оргтехника;</li>
          <li class="aboutinsurance">периферийные устройства;</li>
          <li class="aboutinsurance">
            средства городской телефонной связи;
          </li>
          <li class="aboutinsurance">одежда и обувь;</li>
          <li class="aboutinsurance">спортивно-туристический инвентарь;</li>
          <li class="aboutinsurance">постельные принадлежности;</li>
          <li class="aboutinsurance">предметы интерьера;</li>
          <li class="aboutinsurance">личные вещи;</li>
          <li class="aboutinsurance">детские коляски и игрушки.</li>
        </ul>
        <h4 class="aboutinsurance">
          Подлежит страхованию на 200 000 рублей:
        </h4>
        <ul class="aboutinsurance">
          Гражданская ответственность перед соседями:
          <li class="aboutinsurance">
            в случае причинения вреда имуществу третьих лиц (например, залив
            соседей);
          </li>
          <li class="aboutinsurance">
            в случае причинения вреда здоровью третьих лиц (например, при
            пожаре или взрыве газа).
          </li>
        </ul>
        <h4 class="aboutinsurance">
          Компенсация ремонта крупной бытовой техники.
        </h4>
        <p class="aboutinsurance">
          Вернём 85% стоимости ремонта холодильников, печей, стиральных и
          посудомоечных машин не старше 6 лет.
        </p>
        <p class="aboutinsurance">
          Если техника внезапно перестала работать, например, из-за скачка
          напряжения в сети или короткого замыкания.
        </p>
        <h4 class="aboutinsurance">Где можно ремонтировать</h4>
        <p class="aboutinsurance">В авторизованных сервисных центрах.</p>
        <p class="aboutinsurance">
          В неавторизованных тоже можно, но нужно будет предварительно
          согласовать это со страховой компанией по номеру 900.
        </p>
        <h4 class="aboutinsurance">Какая техника считается</h4>
        <p class="aboutinsurance">Крупная техника не старше 6 лет:</p>
        <ul>
          <li class="aboutinsurance2">холодильники и морозильники,</li>
          <li class="aboutinsurance2">
            электрические и газовые плиты, духовые шкафы, варочные панели,
          </li>
          <li class="aboutinsurance2">
            посудомоечные, стиральные и сушильные машины.
          </li>
        </ul>
        <p class="aboutinsurance">
          Мы не компенсируем ремонт, если он потребовался из-за
          естественного износа, неправильного использования техники и всего,
          что можно починить по гарантии.
        </p>
      </div>
    </div>
  </article>