<article id="compare" class="compare">
    <h1 class="compare headmenu">Давайте<br />сравним?</h1>
    <div class="compare">
      <div class="comparerowus">
        <div class="ourselves">
          <p class="ourselves">Сами</p>
        </div>
        <div class="withus">
          <i class="withus">С нами</i>
        </div>
      </div>
      <div class="comparerow">
        <p class="comparehead">Проверка жильцов</p>
        <p class="compare">Везение и интуиция</p>
        <i class="compare">Проверяем кандидатов<br />по 4 направлениям</i>
      </div>
      <div class="hrcomparerow"></div>
      <div class="comparerow">
        <p class="comparehead">Фото</p>
        <p class="compare">Как получится</p>
        <i class="compare">Профессиональная<br />фотосессия</i>
      </div>
      <div class="hrcomparerow"></div>
      <div class="comparerow">
        <p class="comparehead">Жильцы не оплачивают<br />часть ЖКУ</p>
        <p class="compare">Оплачиваете сами</p>
        <i class="compare">Возместим задолженность</i>
      </div>
      <div class="hrcomparerow"></div>
      <div class="comparerow">
        <p class="comparehead">Стоимость</p>
        <p class="compare">Ваше время и силы</p>
        <i class="compare">Бесплатно</i>
      </div>
      <div class="hrcomparerow"></div>
      <div class="comparerow">
        <p class="comparehead">Договор аренды</p>
        <p class="compare">Из интернета</p>
        <i class="compare">Составлен юристами</i>
      </div>
    </div>
  </article>