<article id="cost" class="cost">
    <h1 class="cost headmenu">Стоимость</h1>
    <div class="cost">
      <h2 class="cost">Для жильца</h2>
      <p class="cost">Платит за квартиру и услуги сервиса:</p>
      <div class="costcheckmark">
        <img
          class="costcheckmark"
          src="/static/img/checkmark_1.webp"
          alt="✓"
        />
        <p class="cost">страховка</p>
      </div>
      <div class="costcheckmark">
        <img
          class="costcheckmark"
          src="/static/img/checkmark_1.webp"
          alt="✓"
        />
        <p class="cost">поручительство</p>
      </div>
      <p class="cost">
        Жилец оплачивает арендную плату и другие платежи<i class="cost">
          напрямую </i
        >собственнику
      </p>
    </div>
    <div class="cost">
      <h2 class="cost">Для собственника</h2>
      <p class="cost">
        Это<i class="cost"> бесплатно </i>- вы экономите<br>время и деньги
      </p>
      <div class="costimg">
        <img
          class="cost"
          src="/static/img/save-time.webp"
          alt="время - деньги"
        />
      </div>
    </div>
  </article>