<article id="documents" class="documents">
    <div class="documents">
      <h1 class="documents">Документы</h1>
      <a href="/static/documents/Для Арендатора.docx" class="documents"
        >Для арендатора</a
      >
      <a href="/static/documents/Для Собственника.docx" class="documents"
        >Для собственника</a
      >
      <a
        href="/static/documents/Пользовательское соглашение.docx"
        class="documents"
        >Пользовательское соглашение</a
      >
      <a
        href="/static/documents/Договор аренды.pdf"
        class="documents"
        >Договор аренды</a
      >
    </div>
  </article>