<article id="documents" class="documents">
    <div class="documents">
      <h1 class="documents">Документы</h1>
      <a href="/static/documents/Для Арендатора.docx" class="documents"
        >Для арендатора</a
      >
      <a href="/static/documents/Для Собственника.docx" class="documents"
        >Для собственника</a
      >
      <a
        href="/static/documents/Пользовательское соглашение.docx"
        class="documents"
        >Пользовательское соглашение</a
      >
      <a
        href="/static/documents/Договор аренды.pdf"
        class="documents"
        >Договор аренды</a
      >
    </div>
    <div class="documents">
      <h1 class="documents">Инструкции</h1>
      <a
        href="/static/documents/Как подготовить квартиру.docx"
        class="documents"
        >Как подготовить квартиру</a
      >
      <a
        href="/static/documents/Как составить опись имущества.docx"
        class="documents"
        >Как составить опись имущества</a
      >
      <a
        href="/static/documents/Что сделать перед фотосъёмкой.docx"
        class="documents"
        >Что делать перед фотосъемкой</a
      >
      <a
        href="/static/documents/Как составить договор аренды.docx"
        class="documents"
        >Как составить договор аренды</a
      >
    </div>
  </article>