<section class="hidden">
    {% include "hidden/menu.html" without context %}
    {% include "hidden/landlordregistration.html" without context %}
    {% include "hidden/landlordregistrationsuccess.html" without context %}
    {% include "hidden/exceptcall.html" without context %}
    {% include "hidden/startcall.html" without context %}
    {% include "works/checktenants.html" without context %}
    {% include "works/aboutcontract.html" without context %}
    {% include "tenants_settled/aboutinsurance.html" without context %}
    {% include "tenants_settled/aboutverification.html" without context %}
    {% include "instructions/prepareanapartment.html" without context %}
    {% include "instructions/apartmentrentalagreement.html" without context %}
    {% include "instructions/inventoryofproperty.html" without context %}
    {% include "instructions/beforephotographing.html" without context %}
</section>