<section class="hidden">
    {% include "menu.html" without context %}
    {% include "landlordregistration.html" without context %}
    {% include "landlordregistrationsuccess.html" without context %}
    {% include "exceptcall.html" without context %}
    {% include "startcall.html" without context %}
    {% include "checktenants.html" without context %}
    {% include "aboutcontract.html" without context %}
    {% include "aboutinsurance.html" without context %}
    {% include "aboutverification.html" without context %}
</section>