<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/static/css/fonts.css" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="stylesheet" href="/static/css/hidden.css" />
    <link rel="stylesheet" href="/static/css/carousel.css" />
    <title>Smart arenda</title>
  </head>
  <body>
    <section class="main">
      <article id="header" class="header">
        <div class="head">
          <i class="companyname">SmartArenda</i>
          <button class="buttonhamburger" name=".menu">
            <svg
              class="hamburger"
              width="2.5em"
              height="2.5em"
              viewBox="4 4 18 18"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              transform="matrix(-1, 0, 0, -1, 0, 0)rotate(0)"
              stroke="#000000"
              stroke-width="0.00025"
            >
              <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
              <g
                id="SVGRepo_tracerCarrier"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke="#CCCCCC"
                stroke-width="0.05"
              ></g>
              <g id="SVGRepo_iconCarrier">
                <path
                  d="M5.5 11.75C5.08579 11.75 4.75 12.0858 4.75 12.5C4.75 12.9142 5.08579 13.25 5.5 13.25V11.75ZM19.5 13.25C19.9142 13.25 20.25 12.9142 20.25 12.5C20.25 12.0858 19.9142 11.75 19.5 11.75V13.25ZM5.5 7.75C5.08579 7.75 4.75 8.08579 4.75 8.5C4.75 8.91421 5.08579 9.25 5.5 9.25V7.75ZM14.833 9.25C15.2472 9.25 15.583 8.91421 15.583 8.5C15.583 8.08579 15.2472 7.75 14.833 7.75V9.25ZM5.5 15.75C5.08579 15.75 4.75 16.0858 4.75 16.5C4.75 16.9142 5.08579 17.25 5.5 17.25V15.75ZM14.833 17.25C15.2472 17.25 15.583 16.9142 15.583 16.5C15.583 16.0858 15.2472 15.75 14.833 15.75V17.25ZM5.5 13.25H19.5V11.75H5.5V13.25ZM5.5 9.25H14.833V7.75H5.5V9.25ZM5.5 17.25H14.833V15.75H5.5V17.25Z"
                  fill="#000000"
                ></path>
              </g>
            </svg>
          </button>
        </div>
        <div class="headercontent">
          <p><i class="helpyou">Поможем сдать квартиру</i></p>
          <p class="fastandsafely">Быстро и надежно<br />в Москве и МО</p>
          <button class="submityourapplication" name=".landlordregistration">
            <b>Оставить заявку</b>
          </button>
          <p class="useragreement">
            <input
              type="checkbox"
              class="headercheckbox"
              id="useragreement"
              name="useragreement"
              value="yes"
              checked
            />
            <label for="useragreement"></label>
            Я принимаю условия
            <a
              class="useragreement"
              href="/static/documents/Пользовательское соглашение.docx"
              >пользовательского соглашения</a
            >
          </p>
        </div>
      </article>
      <article id="works" class="works">
        <h1 class="workshead headmenu">Это работает так</h1>
        <div class="work">
          <div class="workcircle">
            <p class="workcircle">1</p>
          </div>
          <h6 class="work"><b>Звонок нашего менеджера</b></h6>
          <p class="work">Расскажем как сдать квартиру быстрее и выгоднее</p>
        </div>
        <div class="work">
          <div class="workcircle">
            <p class="workcircle">2</p>
          </div>
          <h6 class="work"><b>Встреча со специалистом SmartArenda</b></h6>
          <p class="work">
            Сделаем профессиональное фото, поможем с описью. Далее разместим
            объявление в тот же день и запустим рекламу. Продвигаем на основных
            площадках. Оплата сервиса от 20%, так что откликов будет достаточно.
          </p>
        </div>
        <div id="checktenants" class="work">
          <div class="workcircle">
            <p class="workcircle">3</p>
          </div>
          <h6 class="work"><b>Отбор кандидатов и показы квартиры</b></h6>
          <p class="work">
            Отвечаем на все звонки. Уточним ваши пожелания по жильцам и
            предложим познакомиться с анкетами проверенных кандидатов
          </p>
          <button class="checktenants" name="article.checktenants">
            О проверке жильцов >
          </button>
        </div>
        <div id="aboutcontract" class="work">
          <div class="workcircle">
            <p class="workcircle">4</p>
          </div>
          <h6 class="work"><b>Составим надежный договор</b></h6>
          <p class="work">Заполним сами, вам останется только подписать</p>
          <button class="aboutcontract" name="article.aboutcontract">
            О договоре >
          </button>
        </div>
      </article>
      <article id="nearby" class="nearby">
        <div class="nearbyhead">
          <h1 class="nearby headmenu">
            Мы рядом<br />после заселения<br />жильцов
          </h1>
        </div>
        <div class="wrap">
          <div class="b-carousel js-carousel">
            <div class="b-carousel__wrap js-carousel__wrap">
              <div
                class="nearby-1 b-carousel__item"
                prev_element="nearby-5"
                next_element="nearby-2"
              >
                <div class="nearbyimg">
                  <img class="nearby" src="/static/img/rubl.webp" alt="рубль" />
                  <img
                    class="nearbyhand"
                    src="/static/img/hand.webp"
                    alt="указательный палец"
                  />
                </div>
                <h2 class="nearby">
                  Защитим вашу квартиру от возможных неприятностей
                </h2>
                <p class="nearby">
                  В дополнение к залоговому депозиту, квартира будет
                  застрахована суммарно на 900 000 рублей:
                </p>
                <div class="nearby">
                  <div class="nearbyrow">
                    <p class="nearby">300 000 ₽</p>
                    <p class="nearby">-</p>
                    <p class="nearby">ремонт, коммуникации, окна и двери</p>
                  </div>
                  <div class="nearbyrow">
                    <p class="nearby">100 000 ₽</p>
                    <p class="nearby">-</p>
                    <p class="nearby">мебель, техника и ваши вещи</p>
                  </div>
                  <div class="nearbyrow">
                    <p class="nearby">300 000 ₽</p>
                    <p class="nearby">-</p>
                    <p class="nearby">стены и перекрытия</p>
                  </div>
                  <div class="nearbyrow">
                    <p class="nearby">200 000 ₽</p>
                    <p class="nearby">-</p>
                    <p class="nearby">ответственность перед соседями</p>
                  </div>
                </div>
                <button class="aboutinsurance" name="article.aboutinsurance">
                  О страховке >
                </button>
              </div>
              <div
                class="nearby-2 b-carousel__item"
                prev_element="nearby-1"
                next_element="nearby-3"
              >
                <div class="nearbyimg">
                  <img
                    class="nearby"
                    src="/static/img/Icon_2.webp"
                    alt="рубль"
                  />
                  <img
                    class="nearbyhand"
                    src="/static/img/hand.webp"
                    alt="указательный палец"
                  />
                </div>
                <h2 class="nearby">Приедем по адресу и проверим квартиру</h2>
                <p class="nearby">
                  Появились сомнения относительно жильцов или просто желаете
                  узнать текущее состояние квартиры?
                </p>
                <p class="nearby">Поручите это нам. Расскажем все как есть</p>
                <button class="aboutverification" name="article.aboutverification">
                  О проверке >
                </button>
              </div>
              <div
                class="nearby-3 b-carousel__item"
                prev_element="nearby-2"
                next_element="nearby-4"
              >
                <div class="nearbyimg">
                  <img
                    class="nearby"
                    src="/static/img/Icon_3.webp"
                    alt="рубль"
                  />
                  <img
                    class="nearbyhand"
                    src="/static/img/hand.webp"
                    alt="указательный палец"
                  />
                </div>
                <h2 class="nearby">Будем общаться с жильцами сами</h2>
                <p class="nearby">
                  Поможем в решении бытовых вопросов и начнем поиск нового
                  жильца, как только узнаем о съезде текущего
                </p>
              </div>
              <div
                class="nearby-4 b-carousel__item"
                prev_element="nearby-3"
                next_element="nearby-5"
              >
                <div class="nearbyimg">
                  <img
                    class="nearby"
                    src="/static/img/Icon_4.webp"
                    alt="рубль"
                  />
                  <img
                    class="nearbyhand"
                    src="/static/img/hand.webp"
                    alt="указательный палец"
                  />
                </div>
                <h2 class="nearby">Оплатим по счетчикам за последний месяц</h2>
                <p class="nearby">
                  Вслучае, если жилец съехал и не оплатил по счетчикам, это
                  сделаем мы
                </p>
              </div>
              <div
                class="nearby-5 b-carousel__item"
                prev_element="nearby-4"
                next_element="nearby-1"
              >
                <div class="nearbyimg">
                  <img
                    class="nearby"
                    src="/static/img/Icon_5.webp"
                    alt="рубль"
                  />
                  <img
                    class="nearbyhand"
                    src="/static/img/hand.webp"
                    alt="указательный палец"
                  />
                </div>
                <h2 class="nearby">Подготовим квартиру для новых жильцов</h2>
                <p class="nearby">
                  Закажем клининг и проконтролируем готовность квартиры перед
                  показом новым жильцам
                </p>
              </div>
            </div>
          </div>
        </div>
      </article>
      <article id="cost" class="cost">
        <h1 class="cost headmenu">Стоимость</h1>
        <div class="cost">
          <h2 class="cost">Для жильца</h2>
          <p class="cost">Платит за квартиру и услуги сервиса:</p>
          <div class="costcheckmark">
            <img
              class="costcheckmark"
              src="/static/img/checkmark_1.webp"
              alt="✓"
            />
            <p class="cost">страховка</p>
          </div>
          <div class="costcheckmark">
            <img
              class="costcheckmark"
              src="/static/img/checkmark_1.webp"
              alt="✓"
            />
            <p class="cost">поручительство</p>
          </div>
          <p class="cost">
            Жилец оплачивает арендную плату и другие платежи<i class="cost">
              напрямую </i
            >собственнику
          </p>
        </div>
        <div class="cost">
          <h2 class="cost">Для собственника</h2>
          <p class="cost">
            Это<i class="cost"> бесплатно </i>- вы экономите время и деньги
          </p>
          <div class="costimg">
            <img
              class="cost"
              src="/static/img/save-time.webp"
              alt="время - деньги"
            />
          </div>
        </div>
      </article>
      <article id="compare" class="compare">
        <h1 class="compare headmenu">Давайте<br />сравним?</h1>
        <div class="compare">
          <div class="comparerowus">
            <div class="ourselves">
              <p class="ourselves">Сами</p>
            </div>
            <div class="withus">
              <i class="withus">С нами</i>
              <i class="SmartArenda">SmartArenda</i>
            </div>
          </div>
          <div class="comparerow">
            <p class="comparehead">Проверка жильцов</p>
            <p class="compare">Везение и интуиция</p>
            <i class="compare">Сделаем за вас</i>
          </div>
          <div class="hrcomparerow"></div>
          <div class="comparerow">
            <p class="comparehead">Фото</p>
            <p class="compare">Как получится</p>
            <i class="compare">Профессиональные фото бесплатно</i>
          </div>
          <div class="hrcomparerow"></div>
          <div class="comparerow">
            <p class="comparehead">Жильцы не оплачивают<br />часть ЖКУ</p>
            <p class="compare">Оплачиваете сами</p>
            <i class="compare">Возместим задолженность</i>
          </div>
          <div class="hrcomparerow"></div>
          <div class="comparerow">
            <p class="comparehead">Стоимость</p>
            <p class="compare">Ваше время и силы</p>
            <i class="compare">Бесплатно!</i>
          </div>
          <div class="hrcomparerow"></div>
          <div class="comparerow">
            <p class="comparehead">Договор аренды</p>
            <p class="compare">Из интернета</p>
            <i class="compare">Составлен юристами</i>
          </div>
        </div>
      </article>
      <article id="reliable" class="reliable">
        <div class="reliablehead">
          <h1 class="reliable headmenu">Ищете<br />надежных<br />жильцов?</h1>
        </div>
        <p class="reliable">
          Оставьте номер телефона -<br />расскажем о нашем сервисе<br />и
          гарантиях защиты квартиры
        </p>
        <div class="reliable">
          <input
            class="reliablephone"
            name="reliable"
            autocomplete="tel"
            type="tel"
            placeholder="8 (937) 624 98 17"
            required
          />
          <button class="reliable" name="article.expectacall" disabled>
            Позвоните мне
          </button>
        </div>
      </article>
      <article id="questions" class="questions">
        <h1 class="questions headmenu">Остались вопросы?</h1>
        <div class="questions">
          <div class="questionsrow qr-1">
            <p class="questions">Какие квартиры мы берем в работу?</p>
            <button class="questions q-1">+</button>
          </div>
          <div class="q-1">
            <p>
              Ничего сверхъестественного: для Аренды подойдет большинство
              квартир. Важно, чтобы в них не было личных вещей собственника –
              всем арендаторам хочется чувствовать себя как дома, а ваши личные
              вещи ежедневно будут напоминать о том, что квартира съемная.
            </p>
            <br />
            <p>
              Также в квартире должен быть минимальный набор мебели и техники,
              кухонный гарнитур, приветствуется стабильный интернет. Наш
              менеджер подскажет, что стоит убрать или докупить, чтобы сделать
              вашу квартиру еще более привлекательной для потенциальных жильцов.
            </p>
          </div>
          <div class="hrquestionsrow"></div>
          <div class="questionsrow qr-2">
            <p class="questions">
              Зачем страховка, если арендатор вносит залоговый депозит?
            </p>
            <button class="questions q-2">+</button>
          </div>
          <div class="q-2">
            <p>
              Она поможет, если с квартирой что-то случится. Например, если
              жильцы зальют квартиру и соседей, залогового депозита может
              попросту не хватить. Застраховав квартиру, мы существенно
              увеличиваем лимит и компенсируем вам затраты на ремонт.
            </p>
            <br />
            <p>Подробнее расскажет менеджер.</p>
          </div>
          <div class="hrquestionsrow"></div>
          <div class="questionsrow qr-3">
            <p class="questions">
              Зачем нужен сервис аренды, если я могу сдать квартиру
              самостоятельно?
            </p>
            <button class="questions q-3">+</button>
          </div>
          <div class="q-3">
            <p>
              С Арендой вы сдадите квартиру, не отвлекаясь от своих текущих дел.
              Вам не придётся тратить время на поиск жильцов, мы сделаем это
              сами, а вам останется только выбрать подходящего кандидата. Мы
              выплатим компенсацию, если жильцы не оплатят по счетчикам. А если
              будут сложности в бытовых вопросах, постараемся их решить и не
              отвлекать вас.
            </p>
            <br />
            <p>Это бесплатно для вас.</p>
          </div>
          <div class="hrquestionsrow"></div>
          <div class="questionsrow qr-4">
            <p class="questions">Какие документы нужно будет подписать?</p>
            <button class="questions q-4">+</button>
          </div>
          <div class="q-4">
            <p>- Оставляете заявку на сайте SmartArenda.</p>
            <br />
            <p>
              - Затем заключаете договор аренды непосредственно с выбранным
              кандидатом. Мы сами его подготовим, вам останется только
              подписать.
            </p>
          </div>
          <div class="hrquestionsrow"></div>
          <div class="questionsrow qr-5">
            <p class="questions">Как быстро вы находите жильцов?</p>
            <button class="questions q-5">+</button>
          </div>
          <div class="q-5">
            <p>
              По разному. Иногда бывает, что они находятся через 2 часа после
              публикации объявления. Мы знаем как подготовить объявление, где
              его разместить и как продвигать. Однако многое зависит от
              состояния квартиры, ремонта и стоимости.
            </p>
            <br />
            <p>Оценить квартиру поможет наш менеджер.</p>
          </div>
          <div class="hrquestionsrow"></div>
          <div class="questionsrow qr-6">
            <p class="questions">Что если собственников двое или больше?</p>
            <button class="questions q-6">+</button>
          </div>
          <div class="q-6">
            <p>
              Это не проблема, если все собственники согласны сдавать квартиру.
            </p>
          </div>
          <div class="hrquestionsrow"></div>
          <div class="questionsrow qr-7">
            <p class="questions">Можно ли сдать квартиру по доверенности?</p>
            <button class="questions q-7">+</button>
          </div>
          <div class="q-7">
            <p>
              Да, по нотариальной доверенности сдать квартиру тоже можно.
              Оставьте заявку на сайте, мы позвоним и всё расскажем.
            </p>
          </div>
        </div>
      </article>
      <article id="start" class="start">
        <h1 class="start headmenu">Начнем<br />искать<br />жильцов?</h1>
        <p class="start">Оставьте заявку -<br />мы все расскажем</p>
        <div class="start">
          <input
            class="startphone"
            name="start"
            autocomplete="tel"
            type="tel"
            placeholder="8 (937) 624 98 17"
            required
          />
          <button class="start" name="article.startacall" disabled>
            Позвоните мне
          </button>
        </div>
      </article>
      <article id="documents" class="documents">
        <div class="documents">
          <h1 class="documents">Документы</h1>
          <a href="/static/documents/Для Арендатора.docx" class="documents"
            >Для арендатора</a
          >
          <a href="/static/documents/Для Собственника.docx" class="documents"
            >Для собственника</a
          >
          <a
            href="/static/documents/Пользовательское соглашение.docx"
            class="documents"
            >Пользовательское соглашение</a
          >
          <a
            href="/static/documents/Оценка стоимости аренды.docx"
            class="documents"
            >Договор аренды</a
          >
        </div>
        <div class="documents">
          <h1 class="documents">Инструкции</h1>
          <a
            href="/static/documents/Как подготовить квартиру.docx"
            class="documents"
            >Как подготовить квартиру</a
          >
          <a
            href="/static/documents/Как составить опись имущества.docx"
            class="documents"
            >Как составить опись имущества</a
          >
          <a
            href="/static/documents/Что сделать перед фотосъёмкой.docx"
            class="documents"
            >Что делать перед фотосъемкой</a
          >
          <a
            href="/static/documents/Как составить договор аренды.docx"
            class="documents"
            >Как составить договор аренды</a
          >
        </div>
      </article>
      <article id="footer" class="footer">
        <h1 class="footer headmenu">SmartArenda 2024</h1>
      </article>
    </section>
    <section class="hidden">
      <article class="menu">
        <div class="menuhead">
          <i class="companyname">SmartArenda</i>
          <button class="buttonhamburgerclose" name="article.menu" anchor_hash="header">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="2.5em"
              height="2.5em"
              viewBox="0 0 30 30"
            >
              <path
                d="M 7 4 C 6.744125 4 6.4879687 4.0974687 6.2929688 4.2929688 L 4.2929688 6.2929688 C 3.9019687 6.6839688 3.9019687 7.3170313 4.2929688 7.7070312 L 11.585938 15 L 4.2929688 22.292969 C 3.9019687 22.683969 3.9019687 23.317031 4.2929688 23.707031 L 6.2929688 25.707031 C 6.6839688 26.098031 7.3170313 26.098031 7.7070312 25.707031 L 15 18.414062 L 22.292969 25.707031 C 22.682969 26.098031 23.317031 26.098031 23.707031 25.707031 L 25.707031 23.707031 C 26.098031 23.316031 26.098031 22.682969 25.707031 22.292969 L 18.414062 15 L 25.707031 7.7070312 C 26.098031 7.3170312 26.098031 6.6829688 25.707031 6.2929688 L 23.707031 4.2929688 C 23.316031 3.9019687 22.682969 3.9019687 22.292969 4.2929688 L 15 11.585938 L 7.7070312 4.2929688 C 7.5115312 4.0974687 7.255875 4 7 4 z"
              ></path>
            </svg>
          </button>
        </div>
        <div class="menucontent">
          <a class="menucontent a-header" name="article.menu" href="#header"
            >Главная</a
          >
          <a class="menucontent a-works" name="article.menu" href="#works"
            >Схема работы</a
          >
          <a class="menucontent a-nearby" name="article.menu" href="#nearby"
            >Страховка</a
          >
          <a class="menucontent a-cost" name="article.menu" href="#cost"
            >Стоимость</a
          >
          <a class="menucontent a-compare" name="article.menu" href="#compare"
            >С нами удобно</a
          >
          <a
            class="menucontent a-questions"
            name="article.menu"
            href="#questions"
            >Частые вопросы</a
          >
          <a
            class="menucontent a-documents"
            name="article.menu"
            href="#documents"
            >Документы</a
          >
        </div>
      </article>
      <article class="landlordregistration">
        <div class="menuhead">
          <i class="companyname">SmartArenda</i>
          <button class="buttonlandlordclose" name=".landlordregistration" anchor_hash="header">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="2.5em"
              height="2.5em"
              viewBox="0 0 30 30"
            >
              <path
                d="M 7 4 C 6.744125 4 6.4879687 4.0974687 6.2929688 4.2929688 L 4.2929688 6.2929688 C 3.9019687 6.6839688 3.9019687 7.3170313 4.2929688 7.7070312 L 11.585938 15 L 4.2929688 22.292969 C 3.9019687 22.683969 3.9019687 23.317031 4.2929688 23.707031 L 6.2929688 25.707031 C 6.6839688 26.098031 7.3170313 26.098031 7.7070312 25.707031 L 15 18.414062 L 22.292969 25.707031 C 22.682969 26.098031 23.317031 26.098031 23.707031 25.707031 L 25.707031 23.707031 C 26.098031 23.316031 26.098031 22.682969 25.707031 22.292969 L 18.414062 15 L 25.707031 7.7070312 C 26.098031 7.3170312 26.098031 6.6829688 25.707031 6.2929688 L 23.707031 4.2929688 C 23.316031 3.9019687 22.682969 3.9019687 22.292969 4.2929688 L 15 11.585938 L 7.7070312 4.2929688 C 7.5115312 4.0974687 7.255875 4 7 4 z"
              ></path>
            </svg>
          </button>
        </div>
        <div class="landlordcontent">
            <input
              class="landlordcontent landlordname"
              name="submitlandlordcontent"
              type="text"
              placeholder="Ваше имя"
              required
            />
            <input
              class="landlordcontent landlordphone"
              name="submitlandlordcontent"
              autocomplete="tel"
              type="tel"
              placeholder="+7 (___) ___ __ __"
              required
            />
            <button class="submitlandlordcontent" disabled>
              <b>Найти жильцов</b>
            </button>
        </div>
      </article>
      <article class="landlordregistrationsuccess">
        <div class="menuhead">
          <i class="companyname">SmartArenda</i>
          <button
            class="buttonlandlordsuccessclose"
            name=".landlordregistrationsuccess"
            anchor_hash="header"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              x="0px"
              y="0px"
              width="30"
              height="30"
              viewBox="0 0 30 30"
            >
              <path
                d="M 7 4 C 6.744125 4 6.4879687 4.0974687 6.2929688 4.2929688 L 4.2929688 6.2929688 C 3.9019687 6.6839688 3.9019687 7.3170313 4.2929688 7.7070312 L 11.585938 15 L 4.2929688 22.292969 C 3.9019687 22.683969 3.9019687 23.317031 4.2929688 23.707031 L 6.2929688 25.707031 C 6.6839688 26.098031 7.3170313 26.098031 7.7070312 25.707031 L 15 18.414062 L 22.292969 25.707031 C 22.682969 26.098031 23.317031 26.098031 23.707031 25.707031 L 25.707031 23.707031 C 26.098031 23.316031 26.098031 22.682969 25.707031 22.292969 L 18.414062 15 L 25.707031 7.7070312 C 26.098031 7.3170312 26.098031 6.6829688 25.707031 6.2929688 L 23.707031 4.2929688 C 23.316031 3.9019687 22.682969 3.9019687 22.292969 4.2929688 L 15 11.585938 L 7.7070312 4.2929688 C 7.5115312 4.0974687 7.255875 4 7 4 z"
              ></path>
            </svg>
          </button>
        </div>
        <div class="landlordregistrationsuccess">
          <img
            class="landlordregistrationsuccess"
            src="/static/img/success.webp"
            alt=""
          />
          <p class="landlordregistrationsuccess">
            Ожидайте звонок в ближайшее время!
          </p>
        </div>
      </article>
      <article class="expectacall">
        <div class="menuhead">
          <i class="companyname">SmartArenda</i>
          <button class="buttonexpectacallclose" name="article.expectacall"  anchor_hash="reliable">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              x="0px"
              y="0px"
              width="30"
              height="30"
              viewBox="0 0 30 30"
            >
              <path
                d="M 7 4 C 6.744125 4 6.4879687 4.0974687 6.2929688 4.2929688 L 4.2929688 6.2929688 C 3.9019687 6.6839688 3.9019687 7.3170313 4.2929688 7.7070312 L 11.585938 15 L 4.2929688 22.292969 C 3.9019687 22.683969 3.9019687 23.317031 4.2929688 23.707031 L 6.2929688 25.707031 C 6.6839688 26.098031 7.3170313 26.098031 7.7070312 25.707031 L 15 18.414062 L 22.292969 25.707031 C 22.682969 26.098031 23.317031 26.098031 23.707031 25.707031 L 25.707031 23.707031 C 26.098031 23.316031 26.098031 22.682969 25.707031 22.292969 L 18.414062 15 L 25.707031 7.7070312 C 26.098031 7.3170312 26.098031 6.6829688 25.707031 6.2929688 L 23.707031 4.2929688 C 23.316031 3.9019687 22.682969 3.9019687 22.292969 4.2929688 L 15 11.585938 L 7.7070312 4.2929688 C 7.5115312 4.0974687 7.255875 4 7 4 z"
              ></path>
            </svg>
          </button>
        </div>
        <div class="expectacall">
          <img class="expectacall" src="/static/img/success.webp" alt="" />
          <p class="expectacall">Ожидайте звонок в ближайшее время!</p>
        </div>
      </article>
      <article class="startacall">
        <div class="menuhead">
          <i class="companyname">SmartArenda</i>
          <button class="buttonstartacallclose" name="article.startacall" anchor_hash="start">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              x="0px"
              y="0px"
              width="30"
              height="30"
              viewBox="0 0 30 30"
            >
              <path
                d="M 7 4 C 6.744125 4 6.4879687 4.0974687 6.2929688 4.2929688 L 4.2929688 6.2929688 C 3.9019687 6.6839688 3.9019687 7.3170313 4.2929688 7.7070312 L 11.585938 15 L 4.2929688 22.292969 C 3.9019687 22.683969 3.9019687 23.317031 4.2929688 23.707031 L 6.2929688 25.707031 C 6.6839688 26.098031 7.3170313 26.098031 7.7070312 25.707031 L 15 18.414062 L 22.292969 25.707031 C 22.682969 26.098031 23.317031 26.098031 23.707031 25.707031 L 25.707031 23.707031 C 26.098031 23.316031 26.098031 22.682969 25.707031 22.292969 L 18.414062 15 L 25.707031 7.7070312 C 26.098031 7.3170312 26.098031 6.6829688 25.707031 6.2929688 L 23.707031 4.2929688 C 23.316031 3.9019687 22.682969 3.9019687 22.292969 4.2929688 L 15 11.585938 L 7.7070312 4.2929688 C 7.5115312 4.0974687 7.255875 4 7 4 z"
              ></path>
            </svg>
          </button>
        </div>
        <div class="startacall">
          <img class="startacall" src="/static/img/success.webp" alt="" />
          <p class="startacall">Ожидайте звонок в ближайшее время!</p>
        </div>
      </article>
      <article class="checktenants">
        <div class="menuhead">
          <i class="companyname">SmartArenda</i>
          <button class="checktenantsclose" name="article.checktenants" anchor_hash="checktenants">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              x="0px"
              y="0px"
              width="30"
              height="30"
              viewBox="0 0 30 30"
            >
              <path
                d="M 7 4 C 6.744125 4 6.4879687 4.0974687 6.2929688 4.2929688 L 4.2929688 6.2929688 C 3.9019687 6.6839688 3.9019687 7.3170313 4.2929688 7.7070312 L 11.585938 15 L 4.2929688 22.292969 C 3.9019687 22.683969 3.9019687 23.317031 4.2929688 23.707031 L 6.2929688 25.707031 C 6.6839688 26.098031 7.3170313 26.098031 7.7070312 25.707031 L 15 18.414062 L 22.292969 25.707031 C 22.682969 26.098031 23.317031 26.098031 23.707031 25.707031 L 25.707031 23.707031 C 26.098031 23.316031 26.098031 22.682969 25.707031 22.292969 L 18.414062 15 L 25.707031 7.7070312 C 26.098031 7.3170312 26.098031 6.6829688 25.707031 6.2929688 L 23.707031 4.2929688 C 23.316031 3.9019687 22.682969 3.9019687 22.292969 4.2929688 L 15 11.585938 L 7.7070312 4.2929688 C 7.5115312 4.0974687 7.255875 4 7 4 z"
              ></path>
            </svg>
          </button>
        </div>
        <div class="checktenants">
          <h3 class="checktenants">О проверке жильцов</h3>
          <div class="checktenantscontent">
            <p class="checktenants">
              При регистрации пользователь заполняет анкету и передает нам
              паспортные данные
            </p>
            <p class="checktenants">
              Мы проверяем потенциальных жильцов на предоставление
              недействительных документов, на присутствие в базах ФССП и
              «Розыск» МВД «России», причастность к экстремизму и терроризму.
            </p>
            <p class="checktenants">
              Мы предлагаем проверенных жильцов на основе требований от
              собственника. Это может быть:
            </p>
            <ul>
              <li class="checktenants">состав семьи;</li>
              <li class="checktenants">возраст;</li>
              <li class="checktenants">наличие животных;</li>
              <li class="checktenants">иные положения.</li>
            </ul>
          </div>
        </div>
      </article>
      <article class="aboutcontract">
        <div class="menuhead">
          <i class="companyname">SmartArenda</i>
          <button class="aboutcontractclose" name="article.aboutcontract" anchor_hash="aboutcontract">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              x="0px"
              y="0px"
              width="30"
              height="30"
              viewBox="0 0 30 30"
            >
              <path
                d="M 7 4 C 6.744125 4 6.4879687 4.0974687 6.2929688 4.2929688 L 4.2929688 6.2929688 C 3.9019687 6.6839688 3.9019687 7.3170313 4.2929688 7.7070312 L 11.585938 15 L 4.2929688 22.292969 C 3.9019687 22.683969 3.9019687 23.317031 4.2929688 23.707031 L 6.2929688 25.707031 C 6.6839688 26.098031 7.3170313 26.098031 7.7070312 25.707031 L 15 18.414062 L 22.292969 25.707031 C 22.682969 26.098031 23.317031 26.098031 23.707031 25.707031 L 25.707031 23.707031 C 26.098031 23.316031 26.098031 22.682969 25.707031 22.292969 L 18.414062 15 L 25.707031 7.7070312 C 26.098031 7.3170312 26.098031 6.6829688 25.707031 6.2929688 L 23.707031 4.2929688 C 23.316031 3.9019687 22.682969 3.9019687 22.292969 4.2929688 L 15 11.585938 L 7.7070312 4.2929688 C 7.5115312 4.0974687 7.255875 4 7 4 z"
              ></path>
            </svg>
          </button>
        </div>
        <div class="aboutcontract">
          <h3 class="aboutcontract">О договоре</h3>
          <div class="aboutcontractcontent">
            <p class="aboutcontract">
              Договор аренды подготовлен юристами сервиса и содержит все
              существенные условия, предъявляемые к подобным договорам. В нём
              указываются:
            </p>
            <ul>
              <li class="aboutcontract">объект аренды;</li>
              <li class="aboutcontract">срок аренды;:</li>
              <li class="aboutcontract">размер арендной платы и порядок расчетов;</li>
            </ul>
            <ul>
              <li class="aboutcontract">порядок оплаты коммунальных платежей;</li>
              <li class="aboutcontract">права и обязанности сторон;</li>
              <li class="aboutcontract">порядок изменения, расторжения и иные условия.</li>
            </ul>
            <p class="aboutcontract">
              Договор заключается сторонами в письменном виде с использованием
              сервиса, подписывается простой электронной подписью. Она
              подтверждает факт подписания сторонами посредством кодов,
              направленных по номеру телефона или на почту сторон, и является
              аналогом собственноручных подписей сторон.
            </p>
            <p class="aboutcontract">
              Договор помогает защитить интересы каждой стороны. Он адаптирован
              под требования современного общества, изложен понятным языком, не
              имеет перегруженных формулировок и непонятных условий.
            </p>
          </div>
        </div>
      </article>
      <article class="aboutinsurance">
        <div class="menuhead">
          <i class="companyname">SmartArenda</i>
          <button class="aboutinsuranceclose" name="article.aboutinsurance" anchor_hash="nearby">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              x="0px"
              y="0px"
              width="30"
              height="30"
              viewBox="0 0 30 30"
            >
              <path
                d="M 7 4 C 6.744125 4 6.4879687 4.0974687 6.2929688 4.2929688 L 4.2929688 6.2929688 C 3.9019687 6.6839688 3.9019687 7.3170313 4.2929688 7.7070312 L 11.585938 15 L 4.2929688 22.292969 C 3.9019687 22.683969 3.9019687 23.317031 4.2929688 23.707031 L 6.2929688 25.707031 C 6.6839688 26.098031 7.3170313 26.098031 7.7070312 25.707031 L 15 18.414062 L 22.292969 25.707031 C 22.682969 26.098031 23.317031 26.098031 23.707031 25.707031 L 25.707031 23.707031 C 26.098031 23.316031 26.098031 22.682969 25.707031 22.292969 L 18.414062 15 L 25.707031 7.7070312 C 26.098031 7.3170312 26.098031 6.6829688 25.707031 6.2929688 L 23.707031 4.2929688 C 23.316031 3.9019687 22.682969 3.9019687 22.292969 4.2929688 L 15 11.585938 L 7.7070312 4.2929688 C 7.5115312 4.0974687 7.255875 4 7 4 z"
              ></path>
            </svg>
          </button>
        </div>
        <div class="aboutinsurance">
          <h3 class="aboutinsurance">О страховке</h3>
          <div class="aboutinsurancecontent">
            <p class="aboutinsurance">От чего застрахована квартира?</p>
            <ul>
              <li class="aboutinsurance">Залив;</li>
              <li class="aboutinsurance">пожар, взрыв;</li>
              <li class="aboutinsurance">противоправные действия третьих лиц;</li>
              <li class="aboutinsurance">стихийные бедствия;</li>
              <li class="aboutinsurance">падение летательных аппаратов и их частей;</li>
              <li class="aboutinsurance">механическое воздействие **;</li>
              <li class="aboutinsurance">причинение вреда жизни, здоровью и/или имуществу третьих лиц;</li>
              <li class="aboutinsurance">чрезвычайная ситуация ***;</li>
              <li class="aboutinsurance">удар молнии;</li>
              <li class="aboutinsurance">падение посторонних предметов.</li>
            </ul>
            <p class="aboutinsurance">Подлежит страхованию на 300 000 рублей: </p>
            <ul>
              <li class="aboutinsurance">Внутренняя отделка и инженерное оборудование:
                <ul>
                  <li class="aboutinsurance">слой отделочных материалов, нанесенных или прикрепленных к поверхности пола, потолка и стен;</li>
                  <li class="aboutinsurance">сантехническое и инженерное оборудование;</li>
                  <li class="aboutinsurance">дверные и оконные блоки (включая остекление);</li>
                  <li class="aboutinsurance">полы (исключая межэтажные перекрытия);</li>
                  <li class="aboutinsurance">легкие внутренние перегородки (из гипсокартона, ДСП, ДВП и т.п.);</li>
                  <li class="aboutinsurance">электропроводка, электрические счетчики, электроустановочные и иные аналогичные изделия.</li>
                </ul>
              </li>
              <li class="aboutinsurance">Внешняя отделка:
                <ul>
                  <li class="aboutinsurance">выполненные из различных материалов декоративные элементы, закреплённые на внешней поверхности наружных стен (за исключением самих стен) и связанные с ними;</li>
                  <li class="aboutinsurance">нанесённый или прикреплённый к поверхности наружных стен с внешней стороны слой отделочных материалов.</li>
                </ul>
              </li>
            </ul>
            <p class="aboutinsurance">Подлежит страхованию на 300 000 рублей:</p>
            <ul>
              <li class="aboutinsurance">Конструктивные элементы квартир:
                <ul>
                  <li class="aboutinsurance">несущие и ненесущие стены;</li>
                  <li class="aboutinsurance">перекрытия;</li>
                  <li class="aboutinsurance">перегородки.</li>
                </ul>
              </li>
            </ul>
            <p class="aboutinsurance">Страхованию подлежит на 100 000 рублей:</p>
              <ul class="aboutinsurance">Движимое имущество:
                <li class="aboutinsurance">теле- и аудиоаппаратура;</li>
                <li class="aboutinsurance">мебель (встроенная, корпусная);</li>
                <li class="aboutinsurance">бытовая техника;</li>
                <li class="aboutinsurance">вычислительная техника;</li>
                <li class="aboutinsurance">оргтехника;</li>
                <li class="aboutinsurance">периферийные устройства;</li>
                <li class="aboutinsurance">средства городской телефонной связи;</li>
                <li class="aboutinsurance">одежда и обувь;</li>
                <li class="aboutinsurance">спортивно-туристический инвентарь;</li>
                <li class="aboutinsurance">постельные принадлежности;</li>
                <li class="aboutinsurance">предметы интерьера;</li>
                <li class="aboutinsurance">личные вещи;</li>
                <li class="aboutinsurance">детские коляски и игрушки.</li>
              </ul>
            </ul>
            <p class="aboutinsurance">Подлежит страхованию на 200 000 рублей:</p>
              <ul class="aboutinsurance">Гражданская ответственность перед соседями:
                <li class="aboutinsurance">в случае причинения вреда имуществу третьих лиц (например, залив соседей);</li>
                <li class="aboutinsurance">в случае причинения вреда здоровью третьих лиц (например, при пожаре или взрыве газа).</li>
              </ul>
            <p class="aboutinsurance">Компенсация ремонта крупной бытовой техники.</p>
            <p class="aboutinsurance">Вернём 85% стоимости ремонта холодильников, печей, стиральных и посудомоечных машин не старше 6 лет.</p>
            <p class="aboutinsurance">Если техника внезапно перестала работать, например, из-за скачка напряжения в сети или короткого замыкания.</p>
            <p class="aboutinsurance">Где можно ремонтировать</p>
            <p class="aboutinsurance">В авторизованных сервисных центрах.</p>
            <p class="aboutinsurance">В неавторизованных тоже можно, но нужно будет предварительно согласовать это со страховой компанией по номеру 900.</p>
            <p class="aboutinsurance">Какая техника считается</p>
            <ul class="aboutinsurance">Крупная техника не старше 6 лет:
              <li class="aboutinsurance">— холодильники и морозильники,</li>
              <li class="aboutinsurance">— электрические и газовые плиты, духовые шкафы, варочные панели,</li>
              <li class="aboutinsurance">— посудомоечные, стиральные и сушильные машины.</li>
            </ul>
            <p class="aboutinsurance">Мы не компенсируем ремонт, если он потребовался из-за естественного износа, неправильного использования техники и всего, что можно починить по гарантии.</p>
          </div>
        </div>
      </article>
      <article class="aboutverification">
        <div class="menuhead">
          <i class="companyname">SmartArenda</i>
          <button class="aboutverificationclose" name="article.aboutverification" anchor_hash="nearby">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              x="0px"
              y="0px"
              width="30"
              height="30"
              viewBox="0 0 30 30"
            >
              <path
                d="M 7 4 C 6.744125 4 6.4879687 4.0974687 6.2929688 4.2929688 L 4.2929688 6.2929688 C 3.9019687 6.6839688 3.9019687 7.3170313 4.2929688 7.7070312 L 11.585938 15 L 4.2929688 22.292969 C 3.9019687 22.683969 3.9019687 23.317031 4.2929688 23.707031 L 6.2929688 25.707031 C 6.6839688 26.098031 7.3170313 26.098031 7.7070312 25.707031 L 15 18.414062 L 22.292969 25.707031 C 22.682969 26.098031 23.317031 26.098031 23.707031 25.707031 L 25.707031 23.707031 C 26.098031 23.316031 26.098031 22.682969 25.707031 22.292969 L 18.414062 15 L 25.707031 7.7070312 C 26.098031 7.3170312 26.098031 6.6829688 25.707031 6.2929688 L 23.707031 4.2929688 C 23.316031 3.9019687 22.682969 3.9019687 22.292969 4.2929688 L 15 11.585938 L 7.7070312 4.2929688 C 7.5115312 4.0974687 7.255875 4 7 4 z"
              ></path>
            </svg>
          </button>
        </div>
        <div class="aboutverification">
          <h3 class="aboutverification">О проверке</h3>
          <div class="aboutverificationcontent">
            <p class="aboutverification">
              При возникновении сомнений или по причинам, остающимся на ваше усмотрение, раз в месяц вы можете поручать нам проверку состояния квартиры. В этом случае наш сотрудник выезжает по адресу и на месте проверяет текущее состояние. При необходимости высылает фото/видео отчет.
            </p>
          </div>
        </div>
      </article>
    </section>
    <script src="/static/js/imask.js"></script>
    <script src="/static/js/axios.min.js"></script>
    <script src="/static/js/main.js"></script>
    <script src="/static/js/questions.js"></script>
    <script src="/static/js/carousel.js"></script>
    <script src="/static/js/openandclose.js"></script>
  </body>
</html>
