<section class="main">
    {% include "header.html" without context %}
    {% include "works.html" without context %}
    {% include "nearby.html" without context %}
    {% include "cost.html" without context %}
    {% include "compare.html" without context %}
    {% include "reliable.html" without context %}
    {% include "questions.html" without context %}
    {% include "start.html" without context %}
    {% include "documents.html" without context %}
    {% include "footer.html" without context %}
</section>