<article id="questions" class="questions">
    <h1 class="questions headmenu">Остались вопросы?</h1>
    <div class="questions">
      <div class="questionsrow qr-1">
        <p class="questions">Какие квартиры мы берем в работу?</p>
        <button class="questions q-1">+</button>
      </div>
      <div class="q-1">
        <p>
          Ничего сверхъестественного: для Аренды подойдет большинство
          квартир. Важно, чтобы в них не было личных вещей собственника –
          всем арендаторам хочется чувствовать себя как дома, а ваши личные
          вещи ежедневно будут напоминать о том, что квартира съемная.
        </p>
        <br />
        <p>
          Также в квартире должен быть минимальный набор мебели и техники,
          кухонный гарнитур, приветствуется стабильный интернет. Наш
          менеджер подскажет, что стоит убрать или докупить, чтобы сделать
          вашу квартиру еще более привлекательной для потенциальных жильцов.
        </p>
      </div>
      <div class="hrquestionsrow"></div>
      <div class="questionsrow qr-2">
        <p class="questions">
          Зачем страховка, если арендатор вносит залоговый депозит?
        </p>
        <button class="questions q-2">+</button>
      </div>
      <div class="q-2">
        <p>
          Она поможет, если с квартирой что-то случится. Например, если
          жильцы зальют квартиру и соседей, залогового депозита может
          попросту не хватить. Застраховав квартиру, мы существенно
          увеличиваем лимит и компенсируем вам затраты на ремонт.
        </p>
        <br />
        <p>Подробнее расскажет менеджер.</p>
      </div>
      <div class="hrquestionsrow"></div>
      <div class="questionsrow qr-3">
        <p class="questions">
          Зачем нужен сервис аренды, если я могу сдать квартиру
          самостоятельно?
        </p>
        <button class="questions q-3">+</button>
      </div>
      <div class="q-3">
        <p>
          С Арендой вы сдадите квартиру, не отвлекаясь от своих текущих дел.
          Вам не придётся тратить время на поиск жильцов, мы сделаем это
          сами, а вам останется только выбрать подходящего кандидата. Мы
          выплатим компенсацию, если жильцы не оплатят по счетчикам. А если
          будут сложности в бытовых вопросах, постараемся их решить и не
          отвлекать вас.
        </p>
        <br />
        <p>Это бесплатно для вас.</p>
      </div>
      <div class="hrquestionsrow"></div>
      <div class="questionsrow qr-4">
        <p class="questions">Какие документы нужно будет подписать?</p>
        <button class="questions q-4">+</button>
      </div>
      <div class="q-4">
        <p>- Оставляете заявку на сайте SmartArenda.</p>
        <br />
        <p>
          - Затем заключаете договор аренды непосредственно с выбранным
          кандидатом. Мы сами его подготовим, вам останется только
          подписать.
        </p>
      </div>
      <div class="hrquestionsrow"></div>
      <div class="questionsrow qr-5">
        <p class="questions">Как быстро вы находите жильцов?</p>
        <button class="questions q-5">+</button>
      </div>
      <div class="q-5">
        <p>
          По разному. Иногда бывает, что они находятся через 2 часа после
          публикации объявления. Мы знаем как подготовить объявление, где
          его разместить и как продвигать. Однако многое зависит от
          состояния квартиры, ремонта и стоимости.
        </p>
        <br />
        <p>Оценить квартиру поможет наш менеджер.</p>
      </div>
      <div class="hrquestionsrow"></div>
      <div class="questionsrow qr-6">
        <p class="questions">Что если собственников двое или больше?</p>
        <button class="questions q-6">+</button>
      </div>
      <div class="q-6">
        <p>
          Это не проблема, если все собственники согласны сдавать квартиру.
        </p>
      </div>
      <div class="hrquestionsrow"></div>
      <div class="questionsrow qr-7">
        <p class="questions">Можно ли сдать квартиру по доверенности?</p>
        <button class="questions q-7">+</button>
      </div>
      <div class="q-7">
        <p>
          Да, по нотариальной доверенности сдать квартиру тоже можно.
          Оставьте заявку на сайте, мы позвоним и всё расскажем.
        </p>
      </div>
    </div>
  </article>