<article id="questions" class="questions">
    <h1 class="questions headmenu">Остались вопросы?</h1>
    <div class="questions">
      <div class="questionsrow qr-1">
        <p class="questions">Сколько стоят услуги сервиса?</p>
        <button class="questions q-1">+</button>
      </div>
      <div class="q-1">
        <p>
          Для собственника услуги бесплатны, а арендатор
          оплачивает стоимость, указанную в объявлении:
          оплата услуг сервиса в размере 5% в неё уже входит.
        </p>
        <br />
        <p>
          Например вы планируете сдавать квартиру за
          50000 ₽. В объявлении потенциальные 
          арендаторы увидят сумму в 52500 ₽, с учетом
          оплаты услуг сервиса.
        </p>
        <br />
        <p>
          Арендатор непосредственно оплачивает
          Собственнику за аренду и сопутствующие платежи.
          И отдельно оплачивает услуги сервиса, согласно
          договору об оказании услуг.
        </p>
      </div>
      <div class="hrquestionsrow"></div>
      <div class="questionsrow qr-2">
        <p class="questions">
          Зачем страховка, если арендатор вносит залоговый депозит?
        </p>
        <button class="questions q-2">+</button>
      </div>
      <div class="q-2">
        <p>
          Страховка от Сбер Страхования - покрывает риски,
          которые не охватывает залог, обеспечивая защиту от
          ущерба суммарно на 900 т.р., в том числе перед
          третьими лицами (соседями). Таким образом,
          страховка является важным инструментом для
          снижения рисков и защиты недвижимости.
        </p>
      </div>
      <div class="hrquestionsrow"></div>
      <div class="questionsrow qr-3">
        <p class="questions">
          Зачем нужен сервис аренды, если я могу сдать квартиру
          самостоятельно?
        </p>
        <button class="questions q-3">+</button>
      </div>
      <div class="q-3">
        <p>
          В сервисе вы сможете сдать квартиру быстрее, так
          как жильцам не потребуется платить комиссию
          риелтору. Мы самостоятельно проведем поиск
          арендаторов, вам останется лишь выбрать
          наиболее подходящего кандидата. Квартира будет
          застрахована, а в случае возникновения бытовых
          вопросов мы примем меры для их решения,
          минимизируя ваше участие.
        </p>
      </div>
      <div class="hrquestionsrow"></div>
      <div class="questionsrow qr-4">
        <p class="questions">Какие документы нужно будет подписать?</p>
        <button class="questions q-4">+</button>
      </div>
      <div class="q-4">
        <p>
          Вы оставляете заявку на сайте SmartArenda.
          Затем заключаете договор аренды
          непосредственно с выбранным кандидатом. Мы
          подготовим договор, вам останется подписать.
          Больше ничего подписывать не нужно.
        </p>
      </div>
      <div class="hrquestionsrow"></div>
      <div class="questionsrow qr-5">
        <p class="questions">Как быстро вы находите жильцов?</p>
        <button class="questions q-5">+</button>
      </div>
      <div class="q-5">
        <p>
          Это может быть и через час после публикации
          объявления, а в среднем составляет около 7-9 дней.
          Мы соответственно готовим, размещаем
          и продвигаем объявление. В остальном сроки
          зависят от состояния квартиры, текущего
          ремонта и стоимости.
        </p>
      </div>
    </div>
  </article>