<article id="reliable" class="reliable">
    <div class="reliablehead">
      <h1 class="reliable headmenu">Ищете<br />надежных<br />жильцов?</h1>
    </div>
    <p class="reliable">
      Оставьте номер телефона -<br />расскажем о сервисе<br />и
      гарантиях защиты квартиры
    </p>
    <div class="reliable">
      <input
        class="reliablephone"
        name="reliable"
        autocomplete="tel"
        type="tel"
        placeholder="8 (937) 624 98 17"
        required
      />
      <button class="reliable" name="article.expectacall" disabled>
        Позвоните мне
      </button>
    </div>
  </article>