<article id="works" class="works">
    <h1 class="workshead headmenu">Это работает так</h1>
    <div class="work">
      <svg
        class="workcircle"
        xmlns="http://www.w3.org/2000/svg"
        width="2.6rem"
        height="2.6rem"
      >
        <circle cx="1.3rem" cy="1.3rem" r="1.25rem" fill="#306fff" />
        <text
          xml:space="preserve"
          x=".975rem"
          y="1.725rem"
          fill="#fff"
          stroke="#fff"
          stroke-width="0"
          font-family="'Roboto Mono'"
          font-size="1.25rem"
          font-weight="bold"
        >1</text>
      </svg>
      <h6 class="work"><b>Звонок нашего менеджера</b></h6>
      <p class="work">Расскажем как сдать квартиру быстрее и выгоднее</p>
    </div>
    <div class="work">
      <svg
        class="workcircle"
        xmlns="http://www.w3.org/2000/svg"
        width="2.6rem"
        height="2.6rem"
      >
        <circle cx="1.3rem" cy="1.3rem" r="1.25rem" fill="#306fff" />
        <text
          xml:space="preserve"
          x=".975rem"
          y="1.725rem"
          fill="#fff"
          stroke="#fff"
          stroke-width="0"
          font-family="'Roboto Mono'"
          font-size="1.25rem"
          font-weight="bold"
        >2</text>
      </svg>
      <h6 class="work"><b>Встреча со специалистом SmartArenda</b></h6>
      <p class="work">
        Сделаем профессиональные фото, поможем с описью. Далее разместим
        объявление в тот же день и запустим рекламу. Продвигаем на основных
        площадках. Отдельной комиссии за услуги нет, так что откликов будет достаточно.
      </p>
    </div>
    <div id="checktenants" class="work">
      <svg
        class="workcircle"
        xmlns="http://www.w3.org/2000/svg"
        width="2.6rem"
        height="2.6rem"
      >
        <circle cx="1.3rem" cy="1.3rem" r="1.25rem" fill="#306fff" />
        <text
          xml:space="preserve"
          x=".975rem"
          y="1.725rem"
          fill="#fff"
          stroke="#fff"
          stroke-width="0"
          font-family="'Roboto Mono'"
          font-size="1.25rem"
          font-weight="bold"
        >3</text>
      </svg>
      <h6 class="work"><b>Отбор кандидатов и показы квартиры</b></h6>
      <p class="work">
        Отвечаем на все звонки. Уточним ваши пожелания по жильцам и
        предложим ознакомиться с анкетами подходящих и проверенных кандидатов
      </p>
      <button class="checktenants hidden" name="article.checktenants">
        О проверке жильцов >
      </button>
    </div>
    <div id="aboutcontract" class="work">
      <svg
        class="workcircle"
        xmlns="http://www.w3.org/2000/svg"
        width="2.6rem"
        height="2.6rem"
      >
        <circle cx="1.3rem" cy="1.3rem" r="1.25rem" fill="#306fff" />
        <text
          xml:space="preserve"
          x=".975rem"
          y="1.725rem"
          fill="#fff"
          stroke="#fff"
          stroke-width="0"
          font-family="'Roboto Mono'"
          font-size="1.25rem"
          font-weight="bold"
        >4</text>
      </svg>
      <h6 class="work"><b>Подготовим надежный договор</b></h6>
      <p class="work">Вам останется только подписать</p>
      <button class="aboutcontract hidden" name="article.aboutcontract">
        О договоре >
      </button>
    </div>
  </article>