<article class="apartmentrentalagreement hidden">
    <div class="menuhead">
      <i class="companyname"></i>
      <button
        class="apartmentrentalagreementclose"
        name="article.apartmentrentalagreement"
        anchor_hash="nearby"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          x="0px"
          y="0px"
          width="30"
          height="30"
          viewBox="0 0 30 30"
        >
          <path
            d="M 7 4 C 6.744125 4 6.4879687 4.0974687 6.2929688 4.2929688 L 4.2929688 6.2929688 C 3.9019687 6.6839688 3.9019687 7.3170313 4.2929688 7.7070312 L 11.585938 15 L 4.2929688 22.292969 C 3.9019687 22.683969 3.9019687 23.317031 4.2929688 23.707031 L 6.2929688 25.707031 C 6.6839688 26.098031 7.3170313 26.098031 7.7070312 25.707031 L 15 18.414062 L 22.292969 25.707031 C 22.682969 26.098031 23.317031 26.098031 23.707031 25.707031 L 25.707031 23.707031 C 26.098031 23.316031 26.098031 22.682969 25.707031 22.292969 L 18.414062 15 L 25.707031 7.7070312 C 26.098031 7.3170312 26.098031 6.6829688 25.707031 6.2929688 L 23.707031 4.2929688 C 23.316031 3.9019687 22.682969 3.9019687 22.292969 4.2929688 L 15 11.585938 L 7.7070312 4.2929688 C 7.5115312 4.0974687 7.255875 4 7 4 z"
          ></path>
        </svg>
      </button>
    </div>
Договор аренды квартиры от SmartArenda
И не только. Расскажем про все необходимые документы, о которых нужно знать собственнику при сдаче квартиры.


Основные понятия

Договор найма
Договор между собственником жилья или его доверителем и человеком, который хочет использовать жилое помещение для проживания на определённое время.
Наймодатель
Физическое лицо, которое хочет сдать жилое помещение.

Наниматель
Физическое лицо, которое хочет снять жилое помещение.

Аванс
Часть платы за аренду, которую наниматель может дать заранее, и которая будет учтена при дальнейших расчётах с наймодателем. Если договор не будет подписан, собственник должен вернуть аванс.


Обеспечительный платёж
Также может называться «залоговый депозит», «страховой депозит» или «гарантийный взнос». Обычно, это сумма равная оплате жилья за месяц, которая страхует наймодателя в случае ущерба. Размер депозита может быть определён на усмотрение участников договора или вовсе отсутствовать.


Договор аренды квартиры – зачем он нужен

Легальный доход с квартиры
С договором вы можете легально зарабатывать с вашей недвижимости. Оформление документов будет зависеть от того, кто заключает договор — физические или юридические лица.


Договор аренды спасёт от конфликтов
Договор не влечёт за собой серьёзных расходов, зато может спасти от конфликтов, решение которых может довести до суда. А попытка сэкономить может рано или поздно столкнуть с налоговой и привести к неприятным штрафам.

Договор найма и договор аренды – в чём разница

Если в сделке участвуют два физлица — это договор найма. Если хотя бы одна из сторон 
юрлицо — заключается договор аренды. В договоре аренды предметом договора может быть как жилая, так и коммерческая недвижимость.

Всегда обращайте внимание на заголовок документа
Если вместо найма там будет указана аренда или наоборот, возникнут проблемы при возникновении спорных моментов.

Что должно быть в договоре аренды
В интернете множество бланков для договоров аренды и найма. Будьте внимательны — иногда там нет важных пунктов. Вот, что обязательно надо указать в договоре:
- Паспортные данные наймодателя и нанимателя.
- Документы – основания права собственности.
- Адрес, кадастровый номер, метраж квартиры.
- ФИО всех, кто будет проживать в квартире. Если пока вы не планируете жить с кем-то, такое право всё равно лучше предусмотреть.
 - наличие домашних животных или право их завести.
- Сроки. Как правило договор аренды заключают на 11 месяцев, и далее продлевают. Договор, действующий менее 1 года не надо регистрировать в Росреестре. Так или иначе документ будет иметь такую же юридическую силу, независимо от регистрации. 
-  Права и обязанности сторон.

Чем более подробно договор будет регулировать различные аспекты найма, тем лучше вы будете застрахованы от непредвиденных обстоятельств. 

Досрочный выход из договора аренды
Как изменить условия договора
Письмо
Если нужно изменить договор, надо направить арендодателю электронное письмо с предложением изменить или добавить пункты.
30 дней на ответ
По закону — статьи 452 и 453 ГК — на ответ арендодателю даётся 30 дней, но можно предусмотреть свой срок — например, неделю.
Дополнительное соглашение
Если вторая сторона согласна изменить договор — каждое изменение или дополнение вносится пунктами в виде дополнительного соглашения — это отдельный документ, который должен быть подписан собственником и жильцом.
Суд
Если собственник не захочет поменять договор, жилец может обратиться в суд.
Внимательно прописывайте в договоре условия его досрочного прекращения
Договор аренды может быть расторгнут по соглашению сторон, по требованию собственника в суде или в одностороннем порядке — если это предусмотрено договором.

Жилец имеет право расторгнуть договор без причины
По статье 687 Гражданского кодекса, наниматель имеет право расторгнуть договор без причины — но об этом нужно предупредить собственника за 3 месяца. Эта же статья регулирует прекращение договора через суд: например, если квартира перестала быть пригодной для проживания.

Что делать, если жилец не платит?
Собственник в судебном порядке может расторгнуть договор только за его нарушения — например, при невнесении платы за проживание.

Формулировка в договоре, которая поможет сэкономить время и нервы
Чтобы при необходимости максимально быстро выйти из договора, можно использовать в документе формулировку «в одностороннем внесудебном порядке» — с описанием случаев, в которых так можно будет поступить.Лучше всего договориться на бумаге, что жилец может съехать с квартиры предупредив собственника за 1 месяц. Можно предусмотреть и более короткий срок на те случаи, если возникнет что-то серьёзное.
Акт приема передачи квартиры
К договору должен быть приложен акт приёма-передачи. Как только  акт будет подписан, жилец начинает платить и нести ответственность за жильё.

В акте обязательно указываются
 - Дата — с какого числа жилец может жить в квартире, а собственник получать за это плату.
- Полное описание квартиры — такое же, как в договоре аренды. Нужно указать кадастровый номер, адрес, площадь, этаж и количество комнат.
- Состояние жилья. Важно отметить все нюансы, которые вы обнаружили при осмотре квартиры.
- Вещи собственника, которые есть в квартире. Составьте отдельную опись имущества с тщательным описанием предметов в квартире и приложите опись к акту.
- Перечислить все ключи, которые передаёт собственник.

Права и обязанности наймодателя и нанимателяв договоре аренды квартиры

Важно помнить, что договор может предусматривать совершенно любые правила и нюансы взаимодействия между собственником и жильцом.Приведенные ниже основные моменты, которые важно отметить в документе — нужны, чтобы обезопасить обе стороны от непредвиденных ситуаций.

Собственник

-  Предоставляет нанимателю свободное жилое помещение и имеющееся там имущество в пользование.
- гарантирует, что квартира не сдана другим людям и не заложена. А сам наймодатель имеет право сдавать квартиру и у него самого есть где жить на протяжении всего срока сдачи.

- Обязан поддерживать квартиру, все её элементы и оборудование в исправном и безопасном состоянии, и быстро всё чинить за свой счёт при поломках — если они не были вызваны нанимателем или проживающими в квартире лицами.

- Обеспечивает предоставление коммунальных услуг.

- Может посещать квартиру, предупредив нанимателя об этом за сутки по телефону или электронной почте.

- Может посещать квартиру, предупредив нанимателя об этом за сутки по телефону или электронной почте.

Жилец

- Обязан использовать квартиру только для проживания, содержать помещение и всё имущество в надлежащем состоянии.

- Обязан своевременно сообщать наймодателю обо всём, что относится к квартире.
- Не может делать ремонт или что-то менять в квартире без письменного разрешения наймодателя.
- Обязан своевременно вносить арендную плату в нужном размере и проводить иные платежи согласно договору.

Опись имущества

Опись — это приложение к акту приёма-передачи квартиры. Она пригодится при разрешении ситуаций в непредвиденных случаях, связанных с порчей или пропажей вещей. Опись защищает интересы и арендодателя, и нанимателя. Собственник с жильцом составляют опись вместе. В описи нужно отразить всю технику и остающиеся в доме хозяйские вещи, с указанием их износа и другими важными нюансами. Лучше всего провести подробную фото фиксацию всех вещей, которые вы хотели бы зафиксировать перед сдачей квартиры. Также опись можно составить обычным списком, как приложение к договору, с указанием имён и паспортных данных участников. Чем подробнее будут описаны предметы, тем меньше проблем может возникнуть при выселении.

Частые вопросы о договоре аренды квартиры
Почему аренда, а не найм?
Сдать в наём можно только жилое помещение. Например — квартиру. Но в SmartАrenda — не только квартиры. Сдаются также и апартаменты, а для них нужен договор аренды.
Когда договор аренды вступает в силу?
После подписания и оплаты.
Что можно изменить в доп. соглашениях?
Дополнительное соглашение нужно для оформления изменений или дополнений к договору. Например, в договоре сразу не было прописано, когда и насколько можно повышать плату за квартиру — тогда это фиксируется в виде доп. соглашения.

Когда нужно подписывать договор, опись, акт-приёма передачи и другие документы?
Документы могут быть подписаны когда вам удобно. Но взаимные обязательства у собственника и жильца начинаются с даты, указанной в документах.
Почему срок аренды на 11 месяцев?
Договор аренды на 11 месяцев не нужно регистрировать в Росреестре. Когда срок закончится, он автоматически продлится ещё на 11 месяцев, если собственник или жилец не решат его расторгнуть. При этом срок аренды в договоре не влияет на обязанность платить налоги. По закону это нужно делать, даже если вы сдадите квартиру на 1 месяц и получите за это арендную плату.
Согласно договору в квартире имеют право проживать все члены семьи арендатора. А если там будут жить те, кого мы не обсуждали?
Да, жилец может пригласить своих родственников для совместного проживания. Но для этого он должен обязательно получить согласие владельца квартиры. Без согласия — нет.
Как повысить стоимость аренды, если договор аренды уже заключен?
Повысить стоимость без согласия жильца — нельзя, пока не истёк срок договора. Если, к примеру, вы решите повысить стоимость после второго месяца проживания жильца и он согласится на это — придётся заключить новый договор аренды или подписать дополнительное соглашение. А если жилец не согласится — придётся расторгнуть договор аренды и искать новых жильцов на новых условиях. Расторгнуть договор аренды можно с предупреждением за 30 календарных дней.
Что делать, если я не хочу, что бы договор пролонгировался?
Вы вправе расторгнуть договор в любой момент, предупредив за 30 дней. Договор продлевается автоматически, если ни одна из сторон не выразила желание его прекратить.
Прочему я не могу расторгнуть договор в одностороннем порядке и выселить жильца из квартиры, если он задерживает оплату?
Если неплательщик сам не желает расторгнуть договор аренды и выселиться из квартиры, выселить его можно только через суд. По закону у вас есть право расторгнуть договор досрочно — если жилец больше двух раз не внёс арендную плату вовремя. То есть — не внёс совсем или задержал оплату на любое количество дней. Это прописано в статье 617 Гражданского кодекса.
Сдаю квартиру как ИП – нужно выставлять чеки арендатору?
Не нужно. Индивидуальный предприниматель, который получает доход от сдачи квартиры в аренду, не обязан выдавать чеки арендаторам. Об этом говорится в абзаце 17 пункте 2 статьи 2 Федерального закона от 22.05.2003 N 54-ФЗ (ред. от 26.07.2019) «О применении контрольно-кассовой техники при осуществлении расчетов в Российской Федерации».
Апартаменты – это нежилое помещение. А что, если при аренде жилец захочет зарегистрировать там свою организацию?
Да, в апартаментах можно зарегистрировать юридическое лицо. Но сделать это без вашего участия не получится. 
Чтобы налоговая зарегистрировала юрлицо в ваших апартаментах, жилец должен предоставить в налоговую «гарантийное письмо» от собственника. В нём должно быть прописано, что вы обязуетесь после регистрации юридического лица по этому адресу заключить с будущей организацией договор аренды нежилого помещения. Без этого письма — налоговая вынесет отказ в регистрации. 
Принести в налоговую ваш договор аренды, который вы подписали тоже не получится  — в нём арендатором выступает физическое лицо, а не организация.
Сдаю квартиру как ИП. Получил для этого бизнес карту и хотелось бы знать, как на неё будут зачисляться деньги?
Деньги на карту собственника поступают без назначения платежа. Без разницы, какая это карта: физлица или предпринимателя.

Начнем искать жильцов?
Оставьте заявку, мы всё расскажем.
Ответим на все вопросы и поможем.
</article>
